@{ ViewBag.Title = "Home Page"; }

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="row">
            <p>
                @if (ViewBag.UsrSession!=null && ViewBag.UsrSession.role_ == "client")
                {
                     <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Demande_Trajet")">Effectuer une Demande <i class="fas fa-road"></i></a>
                 }
                     <a class="btn btn-info btn-lg" href="@Url.Action("Offres", "Abonnements")">Consulter les offres</a>
            </p>
        </div>
    </div>
</header>
<!-- /Header -->
<hr style="background-color:#296d98;margin:10px auto" />
<!-- Intro -->
<div class="container text-center" style="color: #296d98;">
    <br> <br>
    <h2 class="thin">Navette Express Offre des abonnement en plusieurs Trajets</h2>
    <p class="text-muted">
        Benificier de meilleur transport autour du Maroc avec Navette Express.
    </p>
</div>
<!-- /Intro-->
<div class="jumbotron p-0">
    <div class="container">
        <h3 class="text-center thin" style="color: #296d98;">Profitez de nos services à bord</h3>
        <div class="row justify-content-around"><img src="~/Content/Images/vehiculo_81.png" /></div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fas fa-couch"></i>CONFORT</h4></div>
                <div class="h-body text-center">
                    <p>Siège confortable et inclinable avec espace pour les jambes</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fas fa-wifi"></i>WIFI</h4></div>
                <div class="h-body text-center">
                    <p>Wifi gratuit pour rester connecter durant le voyage</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fas fa-restroom"></i>WC</h4></div>
                <div class="h-body text-center">
                    <p>Autocars Premium équipés de toilettes pour plus de confort</p>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>